.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #FFFFFF;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

input {
  outline: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.social__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: #2196F3;
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #2196F3;
}
.logo span {
  color: #000000;
}

.logo--color span {
  color: #ffffff;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.modal {
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms linear;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal__icon-close {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.modal__button-close:hover .modal__icon-close, .modal__button-close:focus .modal__icon-close {
  fill: #2196F3;
}

.modal__title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.modal__input {
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus {
  border-color: #2196F3;
}
.modal__input:focus:focus + .modal__icon {
  fill: #2196F3;
}

.modal__label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 4px;
  letter-spacing: 0.01em;
  line-height: 1.16;
  color: #757575;
}

.input__wrap {
  position: relative;
  margin-bottom: 10px;
}

.modal__icon {
  position: absolute;
  display: inline-block;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__comment {
  width: 100%;
  min-height: 120px;
  resize: none;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal__comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__comment:focus {
  border-color: #2196F3;
}

.modal__label--check {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  cursor: pointer;
}

.modal__label--check span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  position: relative;
  bottom: -3px;
  margin-right: 7px;
}

.modal__field--check {
  text-align: center;
  margin-top: 20px;
}

.modal__check--box {
  display: inline-flex;
  width: 16px;
  height: 15px;
  background-image: url("../images/vector.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.modal__check:checked + .modal__label--check span {
  background-color: #2196F3;
  border-color: #2196F3;
  fill: #FFFFFF;
}

.modal__check:checked + .modal__label--check span .input-icon {
  fill: #FFFFFF;
}

.modal__button {
  width: 200px;
  height: 50px;
  color: #FFFFFF;
  background-color: #2196F3;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 52px;
  cursor: pointer;
  margin-top: 30px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
}

.modal__field--button {
  text-align: center;
}

.modal__terms {
  color: #2196F3;
}

.title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  font-weight: 700;
}

.page-header {
  font-weight: 500;
  line-height: 1.14;
  border-bottom: 1px solid #ECECEC;
}

.nav-heder {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
  gap: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  letter-spacing: 0.02em;
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
}

.site-nav__link.current {
  color: #2196F3;
}

.site-nav :hover,
.site-nav :focus {
  color: #2196F3;
}

.contacts {
  display: flex;
  margin-left: auto;
  gap: 30px;
}

.contacts__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover,
.contacts__link:focus {
  color: #2196F3;
}

.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
  fill: #2196F3;
}

.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  background-color: #2F303A;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-img.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 600px;
  display: flex;
}

.hero__title {
  text-align: center;
  margin-bottom: 30px;
  max-width: 696px;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  padding: 10px 32px;
  border: 0;
  border-radius: 4px;
  width: 216px;
  background-color: #2196F3;
  color: #FFFFFF;
  font-weight: inherit;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  transition-property: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.features__list {
  display: flex;
  gap: 30px;
}
.features__list .features__item {
  width: 270px;
}

.features__box-icons {
  background-color: #F5F4FA;
  border-radius: 4px;
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features__title {
  margin-top: 30px;
  margin-bottom: 10px;
  line-height: 1.14;
  font-size: 14px;
  font-weight: 700;
}

.features__text {
  font-weight: 400;
  line-height: 1.7;
  color: #757575;
}

.section.work {
  padding-top: 0px;
}

.work__list {
  display: flex;
  width: 370px;
  gap: 30px;
}
.work__list .work__item {
  position: relative;
}

.work__text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #F5F4FA;
}
.team .team__list {
  display: flex;
  width: 270px;
  gap: 30px;
  line-height: 1.18;
}

.team__item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
  padding-bottom: 30px;
}

.team__name {
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.team__position {
  padding-bottom: 16px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #757575;
}

.team .social__icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: #FFFFFF;
}

.customers__link {
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__link:hover, .customers__link:focus {
  border: 1px solid #2196F3;
}

.custumers__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.customers__icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__link:hover .customers__icon,
.customers__link:focus .customers__icon {
  fill: #2196F3;
}

.footer {
  background-color: #2F303A;
  font-weight: 400;
  line-height: 1.7;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.address-box {
  width: 231px;
  margin: 20px 0 0 0;
  padding: 0;
  font-style: normal;
  list-style: none;
  text-decoration: none;
}

.address-box__item {
  padding-bottom: 9px;
}
.address-box__item:last-child {
  padding-bottom: 0px;
}

.address__location {
  color: #FFFFFF;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__location:hover, .address__location:focus {
  color: #2196F3;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: #2196F3;
}

.join {
  width: 206px;
  display: flex;
  flex-wrap: wrap;
}
.join__title {
  margin-bottom: 20px;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.14;
}

.social__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.join .social__icon--white {
  fill: #FFFFFF;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription {
  width: 570px;
  display: flex;
  flex-wrap: wrap;
}
.subscription__title {
  margin-bottom: 20px;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.14;
}

.subscription__box {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.subscription__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  padding: 15px 0 15px 16px;
  color: #FFFFFF;
  font-size: 16px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input:focus {
  border-color: #2196F3;
}

.subscription__button {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
  padding: 10px 28px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  background-color: #2196F3;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
}

.subscription__icon {
  margin-left: 10px;
  fill: #FFFFFF;
}

.portfolio-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
  padding-bottom: 16px;
  gap: 8px;
}
.portfolio-filter__button {
  padding: 6px 22px;
  border: 0px;
  border-radius: 4px;
  background-color: #F5F4FA;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  color: currentColor;
  letter-spacing: inherit;
  transition: color, background, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-filter__button:hover,
.portfolio-filter__button:focus {
  color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-list__img {
  position: relative;
  overflow: hidden;
}
.portfolio-list__text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #FFFFFF;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__item:hover .portfolio-list__text,
.portfolio-list__item:focus .portfolio-list__text {
  transform: translateY(0);
}

.portfolio-list__item {
  width: 370px;
  margin-bottom: 30px;
  margin-right: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__item:hover, .portfolio-list__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list__item:nth-child(3n) {
  margin-right: 0px;
}

.portfolio-list__item:nth-last-child(-n+3) {
  margin-bottom: 0px;
}

.portfolio-list__link {
  color: inherit;
}

.portfolio-list__card {
  border: 1px solid #EEEEEE;
  border-top: 0;
}
.portfolio-list__card .portfolio-list__card-title {
  padding: 20px 24px 4px 24px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-list__card .portfolio-list__card-text {
  padding: 0 24px 20px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}/*# sourceMappingURL=main.css.map */