.team {
    background-color: $secondary-background-color;
    .team__list {
        display: flex;
        width: 270px;
        gap: 30px;
        line-height: 1.18;
        }
}

.team__item { 
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: $white-color;
    padding-bottom: 30px;
}

// .team__title {
//     margin-bottom: 50px;

//     font-size: 36px;
//     line-height: 1.16;
//     text-align: center;
//     font-weight: 700;
// }

.team__name {
    padding-top: 30px;
    padding-bottom: 10px;

    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.team__position {
    padding-bottom: 16px;

    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: $secondary-text-color;
}

.team .social__icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
    fill: $white-color;
}